
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Customer/_Menu.cshtml";
}

<div class="container"style="color:black;">
    <h3 style="color:#29226c">
        <br /><br />
        Tunisian Post
    </h3>
    <article>
        The Tunisian Post is a company that’s responsible for postal services in Tunisia, and it does also
        provide banking services within Tunisia as well. The company was founded in 1847, and admitted to the Universal Post Union in 1878.
        It opened the Tunisian National Savings Bank (Caisse d’Epargne Nationale Tunisienne) in 1956
    </article>
</div>