
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Customer/_Menu.cshtml";
}

<div class="container"style="color:black;">
    <h3 style="color:#29226c">
        <br /><br />
        Contact Us:
    </h3>

    <p>Citizenship Relations Office:</p>

    <p>Adresse: Street Hédi Nouira -1030 Tunis, Tunisia</p>
    <p>
        Consult the access plan Call number :1838
    </p>
    <p>Phone Numbers:(+216) 71 839 000 - Fax : (+216) 71 833 787 </p>
    <p>Email : brc@poste.tn</p>
</div>

