
@{
    ViewBag.Title = "guide";
    Layout = "~/Views/Customer/_Menu.cshtml";
}
<div class="container" style="color:black;">
    <h3 style="color:#29226c">
        <br /><br />
        Guide
    </h3>
    <p>To make a delivery:</p>
    <p>1.Access Make Delivery Page through the Nav-Bar</p>
    <p>2.Fill the Pickup  Location (Be precise)</p>
    <p>3.Click Next do the same with Delivery Location</p>
    <p>4.Click Next and Fill the Parcel information ,and Check for any Suppliment Services if needed</p>
    <p>5.Finaly Give your Card information and Send the Delivery Request</p>
</div>