@Styles.Render("~/Content/Lux.css")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Customer/_Menu.cshtml";
}

<div class="container"style="color:black;">
    <h3 style="color:#29226c">
        <br /><br />
        Greeting
    </h3>
    <article> This web application provides a delivery of parcel service, you can access guide in the nav barre to 
    get informed on how to use this application.
    </article>
    <br/>
    <article> You can access our offical website through this <a href="http://www.poste.tn/">link</a> </article>
</div>
