
body {
    background: url(Assets/HomePageWallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}


.intro {
    padding-top: 20%;
    margin: 0 auto;
    text-align: center;
    color: #18105e;
    font-size: 36px;
    font-family: "Droid Sans";
    font-weight: 900;
}

.button {
    background-color: #18105e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}