
@Styles.Render("~/Content/Lux.css")
@Styles.Render("~/Content/DropDown.css")

<img style="width:100%; height:20%;" src="~/Content/Assets/Header.jpg" />
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Raising</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarColor01" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/RessourcesManager/Assignments">Assignments <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/RessourcesManager/Drivers">Drivers</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="dropdown">
                <button class="dropbtn">Account</button>
                <div class="dropdown-content">
                    <a style="text-decoration:none" href="#">Account Management</a>
                    <a style="text-decoration:none" href="/RessourcesManager/logout">Disconnect</a>
                </div>
            </div>
        </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</nav>
@RenderBody()
