
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/RessourcesManager/_Menu.cshtml";
}
<div class="container" style="color:black;">
    <h3 style="color:#29226c">
        <br /><br />
        Greeting
    </h3>
    <article>
        This web application provides a delivery of parcel service, your transactions through the nav barre.
    </article>
    <br />
    <article> You can access our offical website through this <a href="http://www.poste.tn/">link</a> </article>
</div>
