
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/StyleJoin.css")
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="intro">
        Welcome To Raising

        <br />
        <br />

        <a href="HomePage/Join" class="button2">Join in</a>
    </div>

</body>
</html>
